# Kredensial Grafana Cloud untuk mengirim metrik pemantauan sistem FundRaise.
# Sebagai catatan, sistem ini di deploy pada layanan Hugging Face Spaces, 
# variabel kredensial ini disetel melalui menu Settings pada bagian Variables and secrets.
GRAFANA_USERNAME=masukkan_username_grafana_cloud
GRAFANA_PASSWORD=masukkan_token_akses_grafana_cloud